.ivu-collapse-content {
    padding: 0 0px;
}

.ivu-collapse-content > .ivu-collapse-content-box {
    padding-top: 0px;
}

.fl{
    float: left;
}
.request_type{
    color: blueviolet;
    font-weight: bold;
}
.group_type{
    color: blue;
    font-size: 1.5em;
    font-weight: bold;
}
.api-li{
    border: #515a6e 2px solid;
    font-size: 20px;
    margin-bottom: 3px;
}
.api-li-ws{
    border: #5bbe21 2px solid;
    font-size: 20px;
    margin-bottom: 3px;
}
.api-li-test{
    border: #e42b92 2px solid;
    font-size: 20px;
    margin-bottom: 3px;
}